## Import essential libraries

In [1]:
import gspread as gs
import pandas as pd

## Create access

In [2]:
access = gs.oauth(credentials_filename='sheet_explore_mk2.json')

## Access the google sheet

In [3]:
wb = access.open_by_key('1QUKTR1vhYQPixWWsoyF6Mflm-jxSqgpAr2w76UfMj3U')

## Access the sheet

In [4]:
sheet = wb.worksheet('trial 2')

## Access the data from the sheet

In [5]:
data = sheet.get_all_records()

## Convert the sheet data into a dataframe

In [6]:
df_data = pd.DataFrame(data)
df_data

   elsa   2000
0   eca   1234
1  anna  26346