In [1]:
import gspread as gs
import pandas as pd

## Create access

In [2]:
access = gs.oauth(credentials_filename='sheet_explore_mk2.json')

## Access the google sheet

In [3]:
wb = access.open_by_key('1QUKTR1vhYQPixWWsoyF6Mflm-jxSqgpAr2w76UfMj3U')

## Access the sheet

In [4]:
sheet = wb.worksheet('trial 1')

## Access the data from the sheet

In [5]:
data = sheet.get_all_records()

## Convert the sheet data into a dataframe

In [6]:
df_data = pd.DataFrame(data)
df_data

                  Title       Author Acquisition Date Serial Number
0        Fall of Giants  Ken Follett       2023-10-21        GA-122
1  Winter of the Worlds  Ken Follett       2023-10-22        GA-123
2      Edge of Eternity  Ken Follett       2023-10-23        GA-124
3  Pillars of the Earth  Ken Follett       2023-10-24        GA-125
4     World Without End  Ken Follett       2023-10-25        GA-126
5     The Da Vinci Code    Dan Brown       2014-11-14        GA-127
6               Inferno    Dan Brown       2014-11-15        GA-128
7           Lost Symbol    Dan Brown       2014-11-16        GA-129

## Last Row Update Experiment

In [7]:
# trial data to be appended in the sheet
new_data = ['wine', 12312]

In [8]:
# append the data
sheet.append_row(new_data)

{'spreadsheetId': '1QUKTR1vhYQPixWWsoyF6Mflm-jxSqgpAr2w76UfMj3U',
 'tableRange': "'trial 1'!A1:D9",
 'updates': {'spreadsheetId': '1QUKTR1vhYQPixWWsoyF6Mflm-jxSqgpAr2w76UfMj3U',
  'updatedRange': "'trial 1'!A10:B10",
  'updatedRows': 1,
  'updatedColumns': 2,
  'updatedCells': 2}}

## Update dictionary practice

In [ ]:
# create a blank dictionary
new_row = {"title":"", "author":"", "acquisition date":"", "serial number":""}

In [ ]:
# get the input from the user for the values of each key in the dictionary
for key in new_row.keys():
    data = input(f"{key.title()}: ")
    new_row[key] = data

In [14]:
new_row

{'title': 'The Pacific',
 'author': 'Hugh Ambrose',
 'acquisition date': '2022-06-21',
 'serial number': 'GA-135'}

In [ ]:
# convert the values of the dictionary into a list for appending into the sheet
new_row_data = list(new_row.values())

In [17]:
new_row_data

['The Pacific', 'Hugh Ambrose', '2022-06-21', 'GA-135']

In [ ]:
# append the new values into the sheet
sheet.append_row(new_row_data)

{'spreadsheetId': '1QUKTR1vhYQPixWWsoyF6Mflm-jxSqgpAr2w76UfMj3U',
 'tableRange': "'trial 1'!A1:D9",
 'updates': {'spreadsheetId': '1QUKTR1vhYQPixWWsoyF6Mflm-jxSqgpAr2w76UfMj3U',
  'updatedRange': "'trial 1'!A10:D10",
  'updatedRows': 1,
  'updatedColumns': 4,
  'updatedCells': 4}}